.input-filter{
    margin-top: 10px;
    margin-bottom: 10px;
}

.fldset-class {
    border: 1px solid #0099dd;
    margin: 3pt;
    border-top: 15px solid #0099dd
}

.legend-class {
    color: #0099dd;
}