<div class="spinner_content" *ngIf="bln_show">
    <div style="display:flex;height:100%;width:100%;justify-content: center;align-items: center">
        <div style="height: 30%;width: 30%">
            <div style="display:flex;height:100%;width:100%;justify-content: center;align-items: center;">
                <!--<app-semipolar-spinner [animationDuration]="1000" [size]="100" [color]="'#ffffff'"></app-semipolar-spinner>-->
                <!--
                <app-scaling-squares-spinner [animationDuration]="1250" [size]="100" [color]="'#35682d'">
                </app-scaling-squares-spinner>
                -->
                <app-self-building-square-spinner [animationDuration]="2500" [size]="100" [color]="'#ff1d5e'">
                </app-self-building-square-spinner>
            </div>
        </div>
    </div>

</div>