<br>
<br>


<h1>Alimentos por Animal</h1>

<br>

<div class="form-group">

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Animal </span>
    </div>

    <select name="idAnimal" id="idAnimal" class="form-control" [(ngModel)]="num_idAnimal" (change)='fnOnChangeAnimal()'>
      <option *ngFor="let animal of obs_Animal|async" aria-label="Animal" aria-describedby="basic-addon1"
        value="{{animal.id_animal}}">
        {{animal.nombre}}</option>
    </select>
  </div>

</div>
<div class="container">
  <div class="card-columns">
    <div class="card animated fadeIn fast" style="width: 18rem; background-color: #D5C2A2;"
      *ngFor="let animal of obs_Consulta|async, let i = index">
      <img class="card-img-top"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2EwV3hLDS6XLfje1FQBM1tBXUkWKAtmabaVbyvLrH4vnWk4V46g&s"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{animal._nombre }}</h5>
        <p class="card-text">{{animal._contenido_alimenticio}}.</p>

        <p class="card-text">Indicaciones:
          {{animal._indicaciones_uso}}.</p>
        <p *ngIf="animal.show" class="card-text">Precio:
          {{animal._precio}}.</p>

        <button (click)="animal.show=!animal.show" type="button" class="btn btn-outline-primary btn-block">
          Conocer mas
        </button>

      </div>
    </div>

  </div>
</div>

<!--<div class="card-columns">
    obs_Animal
    _contenido_alimenticio: "es un indicar"
    _imagen_alimento: "es muy importante"
    _indicaciones_uso: "indicar"
    _nombre: "dog shaw"
    _precio: "2232424"
    _presentacion: "caracteritico"
  <div  class="card animated fadeIn fast" style="width: 18rem; background-color: #D5C2A2;"
    *ngFor="let enfermedad of obs_Enfermedad|async, let i = index">
    <img class="card-img-top" src="" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{enfermedad._nombre_comun }}</h5>
      <p class="card-text">{{enfermedad._grado_mortalidad}}.</p>

      <button (click)="verHeroe(i)" type="button" class="btn btn-outline-primary btn-block">
        Conocer mas
      </button>
 <a [routerLink]="['/heroe',i]"  class="btn btn-primary">Ver mas link</a>

</div>
 </div>

</div>-->