<app-action-header [settings]="headerSettings_header" (eventEmmiter_extraButtonClick)="fnClickExtraButton($event)">
</app-action-header>
<app-table [arrayAny_columns]="arrayAny_columns" [arrayObsAny_data]="obs_users" [any_settings]="settings"
    (eventEmmiter_delete)="fnOnDelete($event)" (eventEmmiter_extraButtons)="fnOnExtraButtonClick($event)"
    (eventEmmiter_edit)="fnOnEdit($event)"></app-table>

<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" style="text-align: center">¿Estas seguro de eliminar a "{{str_deleteUser}}"?</h5>
    </div>
    <div class="modal-body">
        <p>
            ¿Estas seguro de eliminar a "{{str_deleteUser}}"?, el usuario sera eliminado permanentemente.
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="modal.close('Ok click')">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="fnConfirmDelete(modal)" [innerHtml]="str_deleteButton"></button>
    </div>
</ng-template>

<ng-template #changePassword let-modal>
    <div class="modal-header">
        <h5 class="modal-title" style="text-align: center">Cambiar contraseña de {{str_passwordUser}}</h5>
    </div>
    <div class="modal-body">
            <app-form [formGroup_form]="formGroup_formPassword" [any_settings]="formSettings_formPassword" 
            (eventEmmiter_onSendData)="fnSendData($event,modal)"></app-form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="fnClosePasswordModal(modal)">Cerrar</button>
    </div>
</ng-template>