<form [formGroup]="formGroup_form">
  <div class="form-group">
    <ng-container *ngIf="str_labelType=='title'">
      <label for="">{{str_label}}</label>
      <select class="form-control" [formControl]="formControl_control" (change)="fnOnChange()"
        class="form-control {{(formControl_control.touched && formControl_control.errors)?'invalid-input':''}}">
        <option *ngFor="let option of (textInput_field?.options|async)" [value]="option[textInput_field?.key]">
          {{option[textInput_field?.value]}}</option>
      </select>
    </ng-container>
    <ng-container *ngIf="str_labelType=='append'">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">{{str_label}}</label>
        </div>
        <select class="form-control" [formControl]="formControl_control" (change)="fnOnChange()"
          class="form-control {{(formControl_control.touched && formControl_control.errors)?'invalid-input':''}}">
          <option *ngFor="let option of (textInput_field?.options|async)" [value]="option[textInput_field?.key]">
            {{option[textInput_field?.value]}}</option>
        </select>
        
      </div>
    </ng-container>
    <app-errors *ngIf="formControl_control.errors && formControl_control.touched"
      [formErrors_errors]="textInput_field.errors" [errors]="formControl_control.errors"></app-errors>
    
  </div>
</form>