<div class="col-xl-6  col-lg-6 col-md-6 col-sm-12 offset-xl-3" style="padding:20px">

  <div class="header">
    <h2> Crear Territorio</h2>
  </div>
  <form [formGroup]="formroup_newTerritory" (ngSubmit)="fnSubmitNewTerritory()">

    <div class="form-group">

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Nombre: </span>
        </div>
        <input type="text" class="form-control" formControlName='_nombre' aria-label="Username"
          aria-describedby="basic-addon1">
      </div>

    </div>
    <div class="form-group">
        <span class="input-group-text">Pais: </span>
      <select name="" id="" class="form-control" formControlName="_idPais" (change)='fnOnChangeCountry()'>
        <option *ngFor="let country_option of obs_countryArray|async" [value]="country_option._idPais">
          {{country_option._nombre}}
        </option>
      </select>
    </div>
    <div class="form-group">
        <span class="input-group-text">Estado: </span>
      <select name="" id="" class="form-control" formControlName="_idEstado">
        <option *ngFor="let state_option of obs_statesArray|async" [value]="state_option._idEstado">
          {{state_option._nombre}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Descripcion: </span>
        </div>
        <textarea class="form-control" aria-label="With textarea" formControlName="_descripcion"></textarea>
      </div>

    </div>
    <button type="submit" class="btn btn-primary mb-2" [disabled]="formroup_newTerritory.invalid">
      Crear
    </button>

  </form>
</div>