<br>
<br>
<app-action-header [settings]="headerSettings_header">
</app-action-header>


<ng-container *ngIf="bln_loadForm">
  <div class="fa-2x" style="display: flex;justify-content:center;align-items:center">
    <i class="fas fa-spinner fa-spin"></i>
  </div>
</ng-container>
<div class="card">
  <div class="card-body">
    <div class="header">
      <app-form [formGroup_form]="FormGroupEditEnfermedad" [any_settings]="forSettings_config"
        (eventEmmiter_onSendData)="fnEditData($event)"></app-form>
    </div>
  </div>
</div>