<div id="wrapper">
	<div class="vertical-align-wrap">
		<div class="vertical-align-middle auth-main">
			<div class="auth-box">
				<div class="top">
					<img src="assets/images/logo-white.svg" alt="Lucid">
				</div>
				<div class="card">
					<div class="header">
						<p class="lead">Recuperar mi contraseña</p>
					</div>
					<div class="body">
						<p>Porfavor ingresa tu correo y te enviaremos un email para restablecer tu contraseña.</p>
						<form class="form-auth-small" [formGroup]="formGroup_form" (ngSubmit)="fnOnSubmitResetPassword()">
							<div class="form-group">
								<input type="text" class="form-control" id="signup-password" placeholder="Correo" formControlName="_correo">
							</div>
							<button type="submit" class="btn btn-primary btn-lg btn-block" [innerHtml]="str_resetButton" [disabled]="formGroup_form.invalid"></button>
							<div class="bottom">
								<span class="helper-text">¿Recordaste tu contraseña? <a [routerLink]="['/system/authentication/page-login']">Ingresar</a></span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>